:root {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
  font: 1rem/1.6 'Assistant', sans-serif;;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, li, input, textarea, button {
  margin: 0;
  font-weight: 400;
}
