.post-header {
  position: relative;
  margin: 1rem 0 0;
  @media screen and (min-width: 768px) {
    margin-bottom: 2rem;
  }
  img.post__image {
    max-width: 100%;
    display: block;
    min-height: 5rem;
  }
  .post-header__info {
    padding: 1rem;
    text-align: center;
    @media screen and (min-width: 768px) {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
  h1.post__title, h2.post__title {
    font-size: 1.4641rem;
    margin: 0;
  }
  &.no-links {
    @media screen and (min-width: 768px) {
      h1.post__title, h2.post__title {
        color: black !important;
      }
    }
  }
  p.post__meta {
    font-size: 1rem;
    margin: 0;
  }
}
