.contact-form {
  max-width: 800px;

  margin: 0 auto;

  border: $border;
  border-radius: $border-radius;

  padding: 1rem 1.5rem;
}

.contact-callout {
  color: $primary-color;
  font-size: 0.7rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  text-align: center;
}
