footer {
  text-align: center;
}

img.affiliated-logo {
  max-width: 360px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.contact-callout {
  margin-bottom: 0.5rem;
  color: $primary-color;
  font-size: 0.7rem;
  letter-spacing: 0.25rem;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}
