header {
  padding: 0;
  border-bottom: 0.5rem solid black;
}

img.site-logo {
  max-width: 90vw;
  text-align: center;
  display: block;
  margin: 1rem auto;
}

h1.site-header {
  text-align: center;
  line-height: 1;
}

h2.site-header {
  text-align: center;
  line-height: 1;
}
