header {
  padding: 0;
  border-bottom: 0.5rem solid black;
  position: relative;
}

div.header-banner {
  text-align: center;
}

img.site-logo {
  max-width: 80vw;
  margin: 1rem auto;
}

h1.site-header {
  text-align: center;
  line-height: 1;
}

h2.site-header {
  text-align: center;
  line-height: 1;
}
