
@mixin link-display {
  a {
    color: #000;
    text-decoration: none;

    background:
       linear-gradient(
         to bottom, $primary-color 0%,
         $primary-color 100%
       );
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 0.125rem 0.125rem;

    transition: background-size $transition-duration $transition-tf,
                color $transition-duration $transition-tf;
  }

  a:hover {
    background-size: 0 0;
    color: $primary-color;
  }
}
