<footer class="site-footer">
  <div class="footer__container">
    <a class="footer__logo" href="/">
      <img class="footer__logo-image" src="/assets/images/2021/MR_logo_black.png" alt="Mission Realty - brokered by Exp Realty">
    </a>
  </div>
  <div class="footer__container">
    <div class="social-icons__icons">
      <a class="social-icons__icon" href="https://www.facebook.com/mindi.kessenich">
        <i class="fab fa-facebook-f fa-md"></i>
      </a>
      <a class="social-icons__icon" href="https://www.instagram.com/mkrealestateanddesign">
        <i class="fab fa-instagram fa-md"></i>
      </a>
    </div>
  </div>
</footer>
