<footer>
  <div class="contact-callout">
    <a href="mailto:&#109;&#105;&#110;&#100;&#105;&#64;&#112;&#114;&#111;&#112;&#101;&#114;&#116;&#121;&#114;&#101;&#118;&#105;&#118;&#97;&#108;&#46;&#110;&#101;&#116;">&#109;&#105;&#110;&#100;&#105;&#64;&#112;&#114;&#111;&#112;&#101;&#114;&#116;&#121;&#114;&#101;&#118;&#105;&#118;&#97;&#108;&#46;&#110;&#101;&#116;</a>
    <br />
    <a href="tel:+1-608-206-4294">608-206-4294</a>
  </div>
  {% assign current_year = 'now' | date: "%Y" | plus: 0 %}
  <a href="http://www.propertyrevival.net" target="_blank">
    <img class="affiliated-logo"
       src="/assets/images/prr-logo-sage-384x111.png"
       alt="Property Revival Realty" />
   </a>
   <p class="copyright">© 2018{% if current_year > 2018 %} - {{current_year}}{% endif %} Mindi Kessenich</p>
</footer>
