<footer>
  <div class="contact-callout">
    <a target="_blank" href="tel:+1-608-206-4294">608-206-4294</a>
    <br />
    <a target="_blank" href="mailto:&#109;&#105;&#110;&#100;&#105;&#064;&#101;&#120;&#105;&#116;&#104;&#103;&#109;&#046;&#099;&#111;&#109;">&#109;&#105;&#110;&#100;&#105;&#064;&#101;&#120;&#105;&#116;&#104;&#103;&#109;&#046;&#099;&#111;&#109;</a>
  </div>
  {% assign current_year = 'now' | date: "%Y" | plus: 0 %}
  <p class="copyright">© 2018{% if current_year > 2018 %} - {{current_year}}{% endif %} Mindi Kessenich</p>
</footer>
