<header>
  <a href="/">
    <img class="site-logo"
         srcset="/assets/images/logo-banner-256x100.png 256w,
                 /assets/images/logo-banner-384x150.png 384w,
                 /assets/images/logo-banner-512x200.png 512w"
         sizes="(max-width: 300px) 280px,
                (max-width: 425px) 400px,
                512px"
         src="/assets/images/logo-banner-512x200.png"
         alt="Mindi Kessenich - Real Estate & Design" />
  </a>
  {% include layout/header/navbar.html %}
</header>
