<header>
  <div class="header-banner">
    <a href="/">
      <img class="site-logo"
           srcset="/assets/images/logo-banner-200x85.png 200w,
                   /assets/images/logo-banner-320x135.png 320w,
                   /assets/images/logo-banner-580x245.png 580w"
           sizes="(max-width: 300px) 280px,
                  (max-width: 420px) 400px,
                  580px"
           src="/assets/images/logo-banner-580x245.png"
           alt="Mindi Kessenich - Real Estate & Design" />
    </a>
  </div>
  {% include layout/header/navbar.html %}
</header>
