<nav class="site-navbar">
  <ul class="site-navbar__nav-list">
    {% assign current = page.url | downcase | split: '/' %}
    {% include /layout/header/navbar-item.html path='about' title='About' %}
    {% include /layout/header/navbar-item.html path='work-with-me' title='Work With Me' %}
    <li class="site-navbar__nav-list-item">
      <a href='javascript:;' aria-haspopup="true" {% if current[1] == 'portfolio' %}class="active"{% endif %}>
        Portfolio
      </a>
      <ul class="site-navbar__nav-list site-navbar__nav-list--dropdown" aria-label="submenu">
        {% include /layout/header/navbar-item.html path='client-projects' title='Client Projects' %}
        {% include /layout/header/navbar-item.html path='my-home' title='My Home' %}
      </ul>
    </li>
    {% include /layout/header/navbar-item.html path='blog' title='Blog' %}
    {% include /layout/header/navbar-item.html path='contact' title='Contact' %}
    <li class="site-navbar__nav-list-item">
      <a class="social-link" href="https://www.facebook.com/pg/mindikessenichrealestateanddesign/services/">
        <img src="/assets/images/icons/facebook.svg" alt="Facebook - Mindi Kessenich Real Estate and Design" />
      </a>
      <a class="social-link" href="https://www.instagram.com/mkrealestateanddesign/">
        <img src="/assets/images/icons/instagram.svg" alt="Instagram - Mindi Kessenich Real Estate and Design"/>
      </a>
    </li>
    <li class="site-navbar__nav-list-item">
      <a class="secondary" href="http://www.propertyrevivalrealty.com/about-us/our-team/kessenich/" target="_blank">
        Property Revival Realty
      </a>
    </li>
  </ul>
</nav>
