<nav class="site-navbar">
  <ul class="site-navbar__nav-list">
    {% assign current = page.url | downcase | split: '/' %}
    {% include /layout/header/navbar-item.html path='about' title='About' %}
    {% include /layout/header/navbar-item.html path='work-with-me' title='Work With Me' %}
    <li class="site-navbar__nav-list-item">
      <a href="/portfolio" aria-haspopup="true" {% if current[1] == 'portfolio' %}class="active"{% endif %}>
        Portfolio
      </a>
      <ul class="site-navbar__nav-list site-navbar__nav-list--dropdown" aria-label="submenu">
        {% include /layout/header/navbar-item.html path='client-projects' title='Client Projects' %}
        {% include /layout/header/navbar-item.html path='my-home' title='My Home' %}
      </ul>
    </li>
    {% include /layout/header/navbar-item.html path='blog' title='Blog' %}
    <li class="site-navbar__nav-list-item">
      <a href="/contact" class="contact-modal-link">
        Contact
      </a>
    </li>
  </ul>
</nav>
