<nav class="site-navbar">
  <ul class="site-navbar__nav-list">
    {% assign current = page.url | downcase | split: '/' %}
    {% include /layout/header/navbar-item.html path='about' title='About' %}
    {% include /layout/header/navbar-item.html path='work-with-me' title='Work With Me' %}
    {% include /layout/header/navbar-item.html path='portfolio' title='Portfolio' %}
    {% include /layout/header/navbar-item.html path='blog' title='Blog' %}
    {% include /layout/header/navbar-item.html path='contact' title='Contact' %}
    <li class="site-navbar__nav-list-item">
      <a class="social-link" href="https://www.facebook.com/pg/mindikessenichrealestateanddesign/services/">
        <img src="/assets/images/icons/facebook.svg" alt="Facebook - Mindi Kessenich Real Estate and Design" />
      </a>
      <a class="social-link" href="https://www.instagram.com/mkrealestateanddesign/">
        <img src="/assets/images/icons/instagram.svg" alt="Instagram - Mindi Kessenich Real Estate and Design"/>
      </a>
    </li>
    <li class="site-navbar__nav-list-item">
      <a class="secondary" href="https://exitrealty.com/about/0/Mindi.Kessenich.0" target="_blank">
        EXIT Realty HGM
      </a>
    </li>
  </ul>
</nav>
